body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #DED3BD;
    min-width: 300px;
}

#title {
    font-family: 'Courgette', cursive;
    font-size: 300%;
    color: #FFFFFF;
}

#subTitle {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 125%;
    color: #FFFFFF;
    margin-top: 20px;
}

#menu {
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
    font-size: 150%;
}

    #menu a {
        color: #D5C7BC;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}



/*Google Maps Popup*/
/* The location pointed to by the popup tip. */
.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
}
    /* Draw the tip. */
    .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
    }
/* The popup bubble itself. */
.popup-bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

    .popup-bubble-content:hover {
        font-weight: bold;
    }


.mapImg {
    width: 100px;
    height: 100px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        /*display: none;*/
    }

    .nav.navbar-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: block;
    }
}

.navbar-header, .navbar-inverse {
    background-color: #2C2722;
}

.navbar-header {
    width: 100%;
}


/*Image gallery CSS start*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

figure.snip1440 {
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 100%;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4em;
    background-color: #000000;
}

    figure.snip1440 * {
        -webkit-box-sizing: padding-box;
        box-sizing: padding-box;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    figure.snip1440 img {
        max-width: 100%;
        vertical-align: top;
        height: 280px;
    }

    figure.snip1440 figcaption {
        top: 20px;
        left: 20px;
        padding: 10px 15px;
        position: absolute;
        opacity: 0;
        z-index: 1;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }

    figure.snip1440 h3 {
        letter-spacing: -1px;
        margin: 0;
        font-weight: 600;
    }

    figure.snip1440:after {
        border: 8px solid #ffffff;
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        bottom: 50%;
        left: 20px;
        right: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }

    figure.snip1440 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    figure.snip1440:hover img,
    figure.snip1440.hover img {
        opacity: 0.2;
    }

    figure.snip1440:hover figcaption,
    figure.snip1440.hover figcaption {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    figure.snip1440:hover:after,
    figure.snip1440.hover:after {
        top: 20px;
        bottom: 20px;
        opacity: 0.9;
    }
/*Image gallery CSS end*/



.navbar-toggle {
    display: none;
}


.details label {
    color: #454545;
    font-size: 115%;
    font-weight: bold;
}

.details h2 {
    color: #454545;
    font-weight: bold;
}

.details p {
    margin: 0 0 1em;
    text-align: justify;
    line-height: 22px !important;
    font-size: 15px;
}

#detail-links a {
    color: #454545 !important;
    font-weight: bold;
    font-size: 125%;
}



@media (max-width: 995px) {
    #homeRightContainer {
        display: none;
    }

    #homeContainer {
        width: 100%;
    }
}


/*Detail coffee shop map */
@media (max-width: 995px) {
    body {
        padding-top: 130px;
    }
}

@media (max-width: 780px) {
    body {
        padding-top: 170px;
    }
}

@media (max-width: 500px) {
    body {
        padding-top: 195px;
    }
}
