@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="details col-xs-12">
    
    <h2>@ViewData["Title"]</h2>

            <div class="col-sm-4 col-md-4 col-xs-12 ">
                <img style="float: left; margin-right: 20px" width="100%" src="~/images/workshop365.jpg" />

            </div>

            <div class="col-sm-8 col-md-8 col-xs-12">  
                <p>

                    <span style="font-weight: bold; font-size: 115%">Coffee Cocha Tour</span> es un sitio web elaborado para la ciudad de Cochabamba en Bolivia para resaltar establecimientos
                    de cafes que fueron comprobadas personalmente para poder hacer saber a nomadas digitales
                    , freelancers, estudiantes, professionales remotos y demas gente interesada trabajar remotamente desde el establecimiento
                    usando una Laptop tranquilamente haciendo uso de los servicios ofrecidos.
                    <br />     <br />
                    Es muy importante saber si un lugar
                    es recomendable para poder trabajar, este sitio web hace lo possible para
                    calificar y escojer los mejores cafes/establecimientos
                    para poder trabajar remotamente. Se toma muy en cuenta la velocidad y confianza del Wifi,
                    si el establecimiento tiene baño, buena ubicacion, seleccion de menu de comida, horas de atencion,
                    atencion del personal, etc.

                </p>
                
                <br/>
                <p style="text-align: center">
                    <a target="_blank" href="http://www.thomasrosales.com">@Model.Message </a>
                </p>
            </div>


   

</div>

<div class=" col-xs-12 ">
    <br/>
</div>
